
// customise bulma colours/variables
$primary: hsl(0, 0%, 7%);
$family-primary: 'PT Sans', sans-serif;

@import "~bulma/bulma";

// custom styles go here (if we have em)
.footer {
   background-color: white;
   padding: 2rem 1.5rem 2rem;
}

.social-links a {
   padding: 1rem;
   // width: 4em;
}