
// customise bulma colours/variables
$primary: hsl(0, 0%, 7%);
$family-primary: 'Lato', sans-serif;

@import "~bulma/bulma";

$family-heading: 'Muli', sans-serif;

h1, h2, h3, h4, h5, h6 {
   font-family: $family-heading;
}

.footer {
   background-color: white;
   padding: 2rem 1.5rem 2rem;
}

.social-links a {
   padding: 1rem;
   // width: 4em;
}

.timeslot {
   font-style: italic;
   margin-top: 0.5em;
   text-align: right;
}